.footer-container {
  background: #f4f4f4; /* Unchanged */
  color: #333; /* Unchanged */
  padding: 10px 0; /* Reduced vertical padding for a smaller height */
  font-family: 'Arial', sans-serif; /* Unchanged */
  font-size: 12px; /* Reduced font size for smaller container */
  position: fixed; /* Unchanged */
  left: 0; /* Unchanged */
  bottom: 0; /* Unchanged */
  width: 100%; /* Unchanged */
  z-index: 1000; /* Unchanged */
}

.footer-container::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px; /* height of the shadow bar */
  left: 0;
  right: 0;
  height: 10px; /* Adjust height of the shadowed bar */
  /* box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.2);  */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
  flex: 1; /* Ensure that the sections take up equal space */
  min-width: 150px; /* Minimum width for each section */
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 8px; /* Slightly reduced margin-bottom */
  font-size: 1rem; /* Reduced heading sizes for smaller container */
}

.footer-section a {
  color: #333; /* Link color changed to black */
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-media-icons {
  display: flex;
  justify-content: center; /* Center the icons */
}

.social-media-icons a {
  margin: 0 10px; /* Uniform margin for icons */
  display: inline-block;
}
.social-media-icons a i {
  font-size: 20px; /* Reduced icon size */
}

/* Social media icons using font-awesome classes */
.icon-instagram:before {
  content: '\f16d';
} /* Font Awesome Unicode for Instagram */
.icon-facebook:before {
  content: '\f09a';
} /* Font Awesome Unicode for Facebook */
.icon-twitter:before {
  content: '\f099';
} /* Font Awesome Unicode for Twitter */

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    padding: 8px 0; /* Even smaller padding on mobile */
    font-size: 10px; /* Even smaller font size on mobile */
  }

  .footer-section h2,
  .footer-section h3 {
    font-size: 0.9rem; /* Slightly smaller headings on mobile */
  }

  .social-media-icons a i {
    font-size: 18px; /* Slightly smaller icons on mobile */
  }
}
