.song-page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.youtube-container {
  flex: 1;
  padding: 10px;
  max-width: 30%;
}

.controls-container {
  flex: 1;
  padding: 10px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the controls for a neat look */
  gap: 20px; /* Adds space between rows */
}

/* Additional styles for buttons */
button {
  cursor: pointer; /* Indicates a clickable button */
  padding: 8px 16px; /* Add some padding */
  margin: 4px; /* Add some space around buttons */
  border: none; /* Remove the border */
  background-color: #007bff; /* A pleasant background color */
  color: white; /* Text color that contrasts with the background */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
  background-color: #0056b3; /* Darken button color on hover for feedback */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

button:active {
  background-color: #003580; /* Even darker color when the button is clicked */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Revert shadow to a pressed state */
}

/* Styles for the container of scale options buttons */
.controls-row {
  display: flex; /* Align buttons in a row */
  flex-wrap: wrap; /* Allow wrapping for multiple buttons */
  align-items: center; /* Center-align the buttons */
  justify-content: start; /* Align buttons to the start of the row */
  margin-bottom: 10px; /* Add some margin at the bottom */
}

@media (max-width: 768px) {
  .youtube-container,
  .controls-container {
    max-width: 100%;
  }
  .controls-row {
    flex-direction: column;
    gap: 10px; /* Less space between controls for smaller screens */
  }
}
