.links-container {
  display: flex;
  align-items: center; /* Align items vertically */
  position: relative; /* Add this line */
  /* padding-right: 1em;  */
}

/* .navigation-wrapper button:not(.auth-toggle) {
  display: none;
  border: none;
} */

@media (max-width: 800px) {
  .links-container {
    position: fixed;
    right: 0;
    width: calc(60vw - 20px);
    top: 0;
    height: 100vh;
    z-index: 100;
    padding-top: 3rem;
    flex-direction: column;
    transform: translateX(60vw);
    transition: ease-in 300ms;
    will-change: transform;
    background: var(--background-color);
    box-shadow: -2px 0px 5px rgb(0 0 0 / 26%);
  }

  .navigation-open > .links-container {
    transform: translateX(0);
  }

  .navigation-wrapper button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    display: inherit;
  }
}

.navigation-wrapper .user-toggle {
  display: initial;
}

.navigation-wrapper .menu-toggle {
  display: none;
}

.links-container > a {
  text-decoration: none;
  text-align: center;
  padding: 0.7rem 2rem 0.3rem 2rem;
  font-size: 0.6rem;
}

.links-container > a.active {
  border-bottom: 2px solid var(--primary-darker-color);
}

.user-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.auth-toggle {
  background: none;
  border: none;
  color: inherit; /* Use the same font color as other links */
  font: inherit; /* Use the same font settings as other links */
  cursor: pointer;
  padding: 0.7rem 2rem 0.3rem 2rem; /* Similar padding to other links */
  text-decoration: none; /* No underline */
  display: inline-flex; /* Use inline-flex for centering content */
  align-items: center; /* Align text and icons vertically */
  margin: 0; /* No additional margin */
  font-size: 0.6rem; /* Adjust font size as needed */
}

.auth-toggle:hover,
.auth-toggle:focus {
  text-decoration: underline; /* Underline on hover/focus for visual feedback */
  outline: none; /* Remove focus outline */
}

/* Add a higher z-index value to the user container */
.user-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1000;
  text-decoration: none;
  text-align: center;
  padding: 0.7rem 2rem 0.3rem 2rem;
  font-size: 0.6rem;
}

/* Ensure user-toggle button is visible */
.user-toggle {
  position: relative;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  padding: 10px;
  z-index: 1001; /* Ensure it's above the dropdown for clicking */
}

/* Update the user-dropdown display property on active state */
.user-dropdown {
  display: none; /* Hide by default */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  top: 100%;
  width: 90px;
  right: 0;
  z-index: 1002; /* Ensure it's above the user-toggle */
}

.user-dropdown a {
  display: block;
  padding: 10px;
  font-size: 0.4rem;
  text-align: center;
}

/* Use JavaScript to toggle this class when the dropdown should be shown */
.user-dropdown-active {
  display: block; /* Show when active */
}

.logout-btn-navbar {
  /* padding: 5px 10px; */
  font-size: 14px;
  background-color: #008cba;
  color: white;
}

/* Rest of the styles remain unchanged */

/* Make sure the hover effect is not the only way to display dropdown */
@media (hover: hover) {
  .user-container:hover .user-dropdown {
    display: block; /* Show on hover for non-touch devices */
  }
}

/* Ensure that hover styles are not applied on touch devices */
@media (hover: none) {
  .user-container:hover .user-dropdown {
    display: none; /* Do not show on hover for touch devices */
  }
}
