.song-page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* To align items at the top */
  flex-wrap: wrap; /* Allow items to wrap if needed */
  border: 1px solid red;
  padding-bottom: 45px; /* Adjust based on the actual height of your footer */
}

.youtube-container {
  flex: 1; /* Allow flexibility but respect the width of the sibling */
  padding: 10px;
  max-width: 30%; /* Set a maximum width */
}

.fretboard-container {
  flex: 1; /* Take up twice the space of the youtube-container, if possible */
  padding: 10px;
  max-width: 70%; /* Set a maximum width */
  /* min-width: 300px; */
  overflow: auto; /* Handle internal overflow */
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .youtube-container,
  .fretboard-container {
    max-width: 100%;
  }
}

.add-song-button {
  display: inline-flex; /* Use flexbox for centering content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  padding: 0.5em 1em; /* Top/bottom and left/right padding */
  border: none; /* No border */
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  font-size: 1em; /* Font size */
  font-weight: bold; /* Bold font weight */
  border-radius: 0.25em; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.add-song-button:hover {
  background-color: #45a049; /* Darker shade on hover */
}

.add-song-button:focus {
  outline: none; /* Remove outline */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to show focus */
}

.add-song-button:active {
  background-color: #3e8e41; /* Even darker on click */
}

.add-song-button svg {
  margin-right: 0.5em; /* Space between icon and text */
  width: 1em; /* Icon size */
  height: 1em; /* Icon size */
}

/* Silence Threshold Styles */

.silence-threshold-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.silence-threshold-container label {
  margin-right: 10px;
  font-weight: bold;
}

.silence-threshold-container input[type='range'] {
  flex-grow: 1;
  margin-right: 10px;
  width: 100%; /* Full width */
  height: 10px; /* Specified height */
  background: #ddd; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set the opacity */
  -webkit-transition: 0.2s; /* Transition for smooth effect */
  transition: opacity 0.2s;
}

.silence-threshold-container input[type='range']:hover {
  opacity: 1; /* Full opacity on hover */
}

.silence-threshold-container input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Pointer cursor */
  border-radius: 50%; /* Circular thumb */
  border: 1px solid #fff; /* White border */
}

.silence-threshold-container input[type='range']::-moz-range-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Pointer cursor */
  border-radius: 50%; /* Circular thumb */
  border: 1px solid #fff; /* White border */
}

.silence-threshold-value {
  min-width: 50px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #333;
}
